<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet"
	href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="resources/styles/main.css">
<link rel="stylesheet" href="resources/styles/sb-admin-2.css">
<link rel="stylesheet"
	href="resources/bower_components/angular-loading-bar/build/loading-bar.min.css">
<link rel="stylesheet"
	href="resources/bower_components/font-awesome/css/font-awesome.min.css"
	type="text/css">
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="resources/bower_components/jquery/dist/jquery.min.js"></script>
<script src="resources/bower_components/angular/angular.min.js"></script>
<script
	src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script
	src="resources/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="resources/bower_components/json3/lib/json3.min.js"></script>
<script
	src="resources/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script
	src="resources/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- <script src="resources/scripts/app.js"></script> -->
<!-- <script src="resources/js/sb-admin-2.js"></script> -->
<script src="resources/js/login.js"></script>
<!-- endbuild -->



<script>
	// 	$(document)
	// 			.ready(
	// 					function() {

	// 						angular.module("loginApp", ['ui.router']);

	// 					});

	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');
	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
</script>
<!-- Custom CSS -->

<!-- Custom Fonts -->

<!-- Morris Charts CSS -->
<!-- <link href="styles/morrisjs/morris.css" rel="stylesheet"> -->


</head>

<body ng-app="loginApp">

	<div>

		<form class="form-horizontal" name="signUpForm"
			ng-controller="LoginController" ng-submit="login()">
			
			valor: {{param.erro}}
			
			 <input
			class="span12 tenF" ng-model="username" type="text" id="j_username"
			name="j_username" placeholder="E-mail address" required> <input
			class="span12 tenF" type="password" ng-model="password"
			id="j_password" name="j_password" placeholder="Password" required>
		<input class="span3 btn btn-large btn-block btn-success" type="submit"
			value="Login"
			style="float: right; font-size: 20px; margin-top: 10px;"> </ng-form>

		<!-- 			<div class="container" ng-app="loginApp"> -->
		<!-- 				<div class="row"> -->
		<!-- 					<div class="col-md-4 col-md-offset-4"> -->
		<!-- 						<div class="login-panel panel panel-default"> -->
		<!-- 							<div class="panel-heading"> -->
		<!-- 								<h3 class="panel-title">Please Sign In</h3> -->
		<!-- 							</div> -->
		<!-- 							<div class="panel-body"> -->
		<!-- 								<form ng-controller="LoginCtrl" ng-submit="login()"> -->
		<!-- 									<fieldset> -->
		<!-- 										<div class="form-group"> -->
		<!-- 											<input id="j_username" ng-model="username" -->
		<!-- 												class="form-control" placeholder="E-mail" name="email" -->
		<!-- 												type="text" autofocus> -->
		<!-- 										</div> -->
		<!-- 										<div class="form-group"> -->
		<!-- 											<input id="j_password" ng-model="password" -->
		<!-- 												class="form-control" placeholder="Password" name="password" -->
		<!-- 												type="password" value=""> -->
		<!-- 										</div> -->
		<!-- 										<div class="checkbox"> -->
		<!-- 											<label> <input name="remember" type="checkbox" -->
		<!-- 												value="Remember Me">Remember Me -->
		<!-- 											</label> -->
		<!-- 										</div> -->
		<!-- 										Change this to a button or input when using this as a form -->
		<!-- 										<input type="submit" class="btn btn-lg btn-success btn-block">Entrar</input> -->
		<!-- 										<a ui-sref="dashboard.home" -->
		<!-- 											class="btn btn-lg btn-success btn-block">Login</a> -->
		<!-- 									</fieldset> -->
		<!-- 								</form> -->
		<!-- 							</div> -->
		<!-- 						</div> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
	</div>
</body>

</html>